.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
build/deps/.work/
build/tools/
build/windows/runtime/*
!build/windows/runtime/.gitkeep
